---
import { SITE } from 'astrowind:config';
import iconDark from '../assets/images/green.png';
import logoWhite from '../assets/images/text_bg.png';
import iconWhite from '../assets/images/black.png';
import logoDark from '../assets/images/text_wg.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <div class="flex flex-row">
    <!-- Logo para el modo claro -->
    <img src={iconWhite.src} alt="ICON" class="inline-block h-8 w-auto mr-2 dark:hidden" />
    <img src={logoWhite.src} class="object-contain w-32 dark:hidden" alt="LOGO" />

    <!-- Logo para el modo oscuro -->
    <img src={iconDark.src} alt="ICON" class="hidden h-8 w-auto mr-2 dark:inline-block" />
    <img src={logoDark.src} class="hidden object-contain w-32 dark:inline-block" alt="LOGO" />
  </div>
  <!-- <p class="">{SITE?.name}</p> -->
</span>
